### Main Notebook for visualisation

In [10]:
%pip install numpy pandas
import numpy as np
import pandas as pd

Requirement already satisfied: numpy in ./.venv/lib/python3.8/site-packages (1.24.4)
Requirement already satisfied: pandas in ./.venv/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.8/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./.venv/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
file_path = 'cbls/grid/4_agents/4/position_log.csv'

df = pd.read_csv(file_path)
df

            61   16.45   7.589  18.473  16.456  23.129  1.645  20.058   18.35
0         62.0  15.424   7.577  18.461  15.616  22.300  1.708  20.044  18.522
1         63.0  14.431   7.493  18.415  14.495  21.329  1.802  20.637  19.202
2         64.0  13.604   7.387  18.425  13.834  20.262  1.812  21.239  19.307
3         65.0  13.227   7.329  18.458  13.371  19.380  1.721  22.292  19.427
4         66.0  13.146   7.316  18.463  13.298  18.938  1.663  23.248  19.832
...        ...     ...     ...     ...     ...     ...    ...     ...     ...
28669  28813.4   6.974  18.305  12.693   6.569   6.669  1.438  24.210  22.409
28670  28814.4   6.903  17.391  12.691   5.531   6.151  1.241  24.194  23.157
28671  28815.4   6.910  16.583  12.703   4.645   5.212  1.327  24.195  23.763
28672  28816.4   6.901  15.342  12.732   3.642   4.093  1.396  24.194  24.025
28673  28817.4   6.949  14.336  12.740   2.825   3.416  1.427  24.194  24.025

[28674 rows x 9 columns]

In [13]:
file_path2 = 'cbls/grid/4_agents/4/20230301_082206_results.txt'

df2 = pd.read_csv(file_path2)
df2

                              Complete Patrol Cycles:\t1
0                   Vertex\tAvg Idl\tStdDev Idl\t#Visits
1                                       0\t113.0\t0.0\t1
2                                        1\t17.3\t0.0\t1
3                                        2\t15.1\t0.0\t1
4                                        3\t17.5\t0.0\t1
...                                                  ...
22764                         Avg visits per node\t533.0
22765                              Time Elapsed\t28782.5
22766                         Real Time Elapsed\t13898.0
22767                                   Comm delay: 0.00
22768  ----------------------------------------------...

[22769 rows x 1 columns]